.content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade 0.5s alternate;
}

@keyframes fade {
    0%{
        transform: scale(0);
    }
}
