.contentFormRegister{
    width: 400px;
}

.contentForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    width: 100%;
    padding: 15px;
}

.title{
    width: 100%;
    text-align: center;
    font-family: var(--varTipografyUno);
    font-weight: 600;
    text-transform: uppercase;
}

.contentInputs{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.input{
    outline: none;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid var(--varColorLetter);
}

.buttonSubmit{
    padding: 10px;
    font-family: var(--varTipografyUno);
    border: 0;
    background-color: var(--varColorPrimary);
}

.login{
    padding: 10px;
    border: 1px solid var(--varColorPrimary);
    text-decoration: none;
    font-family: var(--varTipografyUno);
    color: var(--varColorLetter);
}

.login:hover{
    border: 0;
    background-color: var(--varColorPrimary);
    transition: 0.3s all;
}