.contentCard{
    width: 300px;
    height: 440px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.contentImage{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid var(--varColorPrimary);
    cursor: pointer;
}

.image{
    width: 50%;
    object-fit: cover;
    margin: auto;
    /* border: 1px solid red; */
}

.category{
    color: var(--varColorSecundary);
    font-family: var(--varTipografyTwo);
    font-size: 0.8rem;
    text-align: left;
    width: 100%;
}

.title{
    color: var(--varColorLetter);
    font-family: var(--varTipografyUno);
    font-size: 0.9rem;
    font-weight: 700;
    text-align: left;
    width: 100%;
}