.contentIdProd{
    background: white;
    animation: pass 1s alternate;
    /* border: 5px solid red; */
    /* margin-top: 100px; */
    display: flex;
    align-items: center;
    min-height: 900px;
}

@keyframes pass {
    0%{
        opacity: 0;
    }
}