.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
    /* border-bottom: 3px solid var(--varColorPrimary); */
    /* background-color: #65C8D0; */
    background: linear-gradient(#397b7f,#65C8D0);
    
}



@media (min-width: 750px) {
    .header{
        padding: 0 150px;
    }
}

.logo{
    width: 90px;
}

.imageLogo{
    width: 100%;
}

.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 100%;
}

.item{
    list-style: none;
    font-family: var(--varTipografyTwo);
    font-weight: 500;
    cursor: pointer;
}

.item:hover{
    color: var(--varColorSecundary);
}

.contentUserCart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    width: 80px;
    position: relative;
}

.user, .cart{
    width: 25px;
    cursor: pointer;
}

.contentCart{
    cursor: pointer;
}

.amount{
    position: absolute;
    top: 12px;
    right: -5px;
    background-color: var(--varColorButton);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    color: var(--varColorCardShop);
    font-size: 14px;
    font-weight: 600;
}