.sidebar{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
    top: 0;
    /* left: 0; */
    left: -100%;
    height: 100vmax;
    transition: 0.5s all;
    padding: 10px ;
}

.contentText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
}

.title{
    font-family: var(--varTipografyUno);
    font-size: 1.3rem;
    text-transform: uppercase;
}

.contentClose{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.close{
    width: 100%;
}

@media (min-width:600px) {
    
    .sidebar{
        width: 60%;
    }
}

@media (min-width:900px) {
    
    .sidebar{
        width: 30%;
    }
}

