:root {
  
  background-color: white;
  color: #343a40;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*- COLORS -*/
  --varColorPrimary : #99e2b4;
  --varColorSecundary: #BFC2C5;
  --varColorLetter: #343a40;
  --varColorSecundary-hover: #d5d8db;
  --varColorButton: #ef233c;

  /*- TYPOGRAFI -*/
  --varTipografyUno: 'Montserrat', sans-serif;
  --varTipografyTwo: 'Open Sans', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}